#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#nav-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#nav-menu {
  display: none;
}

#content {
  margin: 20px;
}

